{% extends "base.html" %}

{% load static %}

{% block content %}

<body class="hold-transition sidebar-mini sidebar-collapse">
    
      
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        <section class="checkout">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7">
                                        <form class="row" method="post" action=".">
                                        
                                            <h3>Información de facturación</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="inputEmail4" class="form-label">Email</label>
                                                    <input type="email" class="form-control" id="inputEmail4">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="inputPassword4" class="form-label">Password</label>
                                                    <input type="password" class="form-control" id="inputPassword4">
                                                </div>
                                                <div class="col-12">
                                                    <label for="inputAddress" class="form-label">Address</label>
                                                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <label for="inputCity" class="form-label">City</label>
                                                    <input type="text" class="form-control" id="inputCity">
                                                </div>
                                                  
                                                <div class="col-md-2">
                                                    <label for="inputZip" class="form-label">Zip</label>
                                                    <input type="text" class="form-control" id="inputZip">
                                                </div>   
                                            </div>
                                        </form>
                                        <div class="col-md-12">
                                            <div class="pay-meth">
                                                <h5><strong>Método de pago</strong></h5>
                                                <div class="pay-box">
                                                    <ul class="list-unstyled">
                                                        
                                                        <li>
                                                            <input type="radio" id="pay2" name="payment" value="pay2">
                                                            <label for="pay2"><span><i class="fa fa-circle"></i></span>Transferencia entre targetas</label>
                                                        </li>
                                                       
                                                        <li>
                                                            <input type="radio" id="pay4" name="payment" value="pay4">
                                                            <label for="pay4"><span><i class="fa fa-circle"></i></span>Paypal</label>
                                                        </li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-primary btn-flat rounded-pill"><i class="bi bi-plus-lg">
                                              </i> Pagar</a>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        
                                            <div class="row">
                                                <div class="col-md-12">
                                                    
                                                    <h5>
                                                    <a href ="{% url 'cart' %}">
                                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAOlJREFUSEvtlEEKwjAQRf9gvYGFulfwDCJ4C8GlCF14GXHbiIdR8A5uXDYo3qC2kRQLVWszKc2uXZbw3p9PJgTHHznmoxMYG2ZX5G9U4D2xlBFtjdTSAZYghyc4AhgDCKUgwZUYBRreS3AiYATCNc0wve/p1orgC35JM8xt4DrE3wmClfLh4fxOfiFgFkf04CYvzlUKNJy8vPMJCI3hlRN8wC3iSkGVYX9+Ohfo0E4rKlppS1K7B23cJNtFs94Fo0BXVn4qCFjHgg7cC8YSaNggVMO+wkIK2nHhtZtsA6k7y56gqbATGJt7AT6OVxkAYTRSAAAAAElFTkSuQmCC"/>
                                                        ir al carrito
                                                    </h5>
                                                    </a>
                                                    
                                                    <div class="order-review">
                                                        <h5>Order Review</h5>
                                                        <th>
                                                            <strong style="font-size:   1.1em;">Cantidad total de artículos: {{compra.get_cart_articulo}}</strong>
                                                            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                                            <strong style="font-size:   1.2em;">Total a Pagar: $ {{compra.get_cart_total}}</strong>
                                                        </th>
                                                        <div class="review-box">
                                                            <table class="table" style="background-color: white;">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Producto</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Precio</th>
                                                                        <th>Total</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for articulo in articulos %}
                                                                    <tr>
                                                                        <td>
                                                                            <img src="{{ articulo.productos.foto.url }}" class="card-img-top mx-auto" style="max-width:  80px; max-height:  50px;" alt="...">
                                                                            <p>{{ articulo.productos.nombre }}</p>
                                                                        </td>
                                                                        <td>{{ articulo.cantidad }}</td>
                                                                        <td>${{ articulo.productos.precio }}</td>
                                                                        <td>${{ articulo.total }}</td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                                <tfooter>
                                                                    
                                                                </tfooter>
                                                            </table>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

{% endblock content %}

